._abra{margin-top:12px}@media (max-width: 735px){._abra{margin-top:15px}}
._aa1t{border-left:none;border-right:none}._aa1u{border-radius:4px}._aa1w{background:rgb(var(--ig-secondary-background));border:1px solid rgb(var(--ig-elevated-separator))}._aa1x{background:rgb(var(--ig-primary-background));border:1px solid rgb(var(--ig-elevated-separator));border-radius:8px}/*FB_PKG_DELIM*/

#bootloader_FPJcuKi{height:42px;}.bootloader_FPJcuKi{display:block!important;}